<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Users</title>
</head>
<body>
    {% include 'app/header.html' %}
    <br/>
    {% load static %}
    <img src="{% static 'app/images/images.png' %}" width="10%"   alt="hamburger logo"/>
    <br/>
    <a href="admin_product">Products</a>
    <a href="admin_transaction">Transactions</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>User Id</th>
            <th>Password</th>
            <th>Phone number</th>
        </thead>
        {% for user in user %}
        <tr>
            <td> {{ user.0 }} </td>
            <td> {{ user.2 }} </td>
            <td> {{ user.1 }} </td>
            <td>
                <a href="admin_user_edit/{{user.1}}"><button>Edit</button></a>
                |
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{user.1}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{user.0}}?');" type="submit" name="action" value="delete">Delete</button>
              </form></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>