<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .button {
            background-color: sandybrown;
            border: none;
            color: whitesmoke;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 3px 1px;
            cursor: pointer;
        }
    </style>
    <title>Admin Users</title>
</head>
<body>
    {% include 'app/header.html' %}
    <br/>
    <div class="sidenav">
        <a href="admin_product">Products</a>
        <a href="admin_transaction">Transactions</a>
    </div>
    <br/><br/>
    <div class="main">
        <table style="margin-left:auto;margin-right:auto;border: 1px saddlebrown;width: 100%">
            <thead>
                <th>User Id</th>
                <th>Password</th>
                <th>Phone number</th>
            </thead>
            {% for user in user %}
            <tr>
                <td> {{ user.0 }} </td>
                <td> {{ user.2 }} </td>
                <td> {{ user.1 }} </td>
                <td>
                <a href="admin_user_edit/{{user.1}}"><button>Edit</button></a>
                |
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{user.1}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{user.0}}?');" type="submit" name="action" value="delete">Delete</button>
                </form></td>
            </tr>
        {% endfor %}
        </table>
    </div>

</body>
<style>
body {
  background-color: Seashell;
}
</style>
</html>
