<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Users Edit</title>
</head>
<body>
    <a href="admin">Back</a>

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_user_id" class="control-group"> <label for="id_user_id" class="control-label requiredField">
        User Id<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="user_id" value="{{obj.0}}" maxlength="64" class="textinput textInput" required="" id="id_user_id"> </div> </div> <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" value="{{obj.2}}" maxlength="64" class="textinput textInput" required="" id="id_password"> </div> </div> <div id="div_id_phoneno" class="control-group"> <label for="id_phoneno" class="control-label requiredField">
        phoneno<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="phoneno" value="{{obj.1}}" maxlength="64" class="textinput textInput" required="" id="id_phoneno"> </div> </div>
        <br>
        <button type="submit" value="Update">Update</button>
    </form>
</body>
</html>