{% load static %}
<html>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
      
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
      <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
            </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>
    <h2>Product Listing</h2>
    <a href="register">Register</a>
    <a href="login">Login</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Minimum Order </th>
            <th>Category </th>
        </thead>
        {% for product in products %}
        <tr>
            <td> {{ product.0 }} </td>
            <td> {{ product.2 }} </td>
            <td> {{ product.4 }} </td>
            <td> {{ product.7 }} </td>
            <td> {{ product.5 }} </td>

            <td>
                <a href="view/{{product.0}}"><button>View More</button></a> | 
                <a href="register"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{product.0}}"/>
              </form></td>
        <tr>
        {% endfor %}
    </table>
</body>
</html>
