{% load static %}
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container mb-2">
      <form method="POST">
        {% csrf_token %}
        <div class = "container mt-4 mb-2 text-center">
          <h3>Thank You For Purchasing!<br>
          Do you want to buy more?</h3>
          <br>
            <table style='text-align:left'>
                <tr>
                    <th>Current Orders</th>
                    <td>:</td>
                    <td> {{ transactions.0 }} </td>
                </tr>
            </table>
          <br>
          <a href="home" name="action" type="submit" value="backhome" role="button" >Yes!</a>
        </div>
      </form>
    </div>
  </body>
</html>
