<html>
<body>
    {% for product in products %}
    <h2>Details about {{product.2}} sold by {{product.1}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Product ID</th>
            <td>:</td>
            <td> {{product.0}} </td>
        </tr>
        <tr>
            <th>Category</th>
            <td>:</td>
            <td> {{product.5}} </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>:</td>
            <td> {{product.4}} </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>:</td>
            <td> {{product.3}} </td>
        </tr>
        <tr>
            <th>Allergens</th>
            <td>:</td>
            <td> {{product.6}} </td>
        </tr>
        <tr>
            <th>Mininum Order Needed</th>
            <td>:</td>
            <td> {{product.7}} </td>
        </tr>
    </table>
    {% endfor %}
</body>
</html>
