<html>
<body>
    <h2>Details about {{product.2}} sold by {{cust.1}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Category</th>
            <td>:</td>
            <td> {{product.5}} </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>:</td>
            <td> {{product.4}} </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>:</td>
            <td> {{product.3}} </td>
        </tr>
        <tr>
            <th>Allergens</th>
            <td>:</td>
            <td> {{product.6}} </td>
        </tr>


        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
        <tr>
            <th>Mininum Order Needed</th>
            <td>:</td>
            <td> {{product.7}} </td>
        </tr>
    </table>
</body>
</html>
